[submodule "examples/BaseSecurityToken"]
	path = examples/contracts/BaseSecurityToken
	url = https://github.com/AtlantPlatform/ethereum-playbook.git
[submodule "examples/contracts/BaseSecurityToken"]
	path = examples/contracts/BaseSecurityToken
	url = https://github.com/AtlantPlatform/BaseSecurityToken.git
